.container{
	width: 700px;
	margin:  0 auto;
	
}

@media (max-width:  768px) {
	.container{
		width: 500px;
	},
	
}

@media (max-width:  576px) {
	.container{
		width: 300px;
	},
	
}
